<div class="footer">
    
      <ul class="footer-links list-inline">
        <li>
          <a href="#" target="blank" class="social-icon"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#" target="blank" class="social-icon"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#" target="blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </li>
      </ul>
    
</div>