<div class="container mt-3" >
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="justify-content-center">My Rentals</h1>
      <div class="row">
        <div class="col-6">
          <div class="row">
          <% @rentals.each do |rental| %>
            <div class="col">
              <div class="card">
                <%= image_tag "school.jpg", width: 120, height: 80 %>

                <div class="card-body">
                  <h5 class="font-weight-bold"><%=rental.item.name %></h5>
                  <a <%= link_to "Reviews", item_path(rental.item), class: "btn btn-primary" %></a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>    
  </div>
</div>
