.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
}

.footer-links {
  display: flex;
  align-items: center;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}
